<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ullam reiciendis molestias iusto, temporibus, corporis minus iure unde delectus animi maxime earum dolorem libero. Deleniti modi eos sunt dolores optio!
    Ipsum id dolor optio perspiciatis maxime? Sequi corporis, consequatur deserunt nemo magnam alias, voluptas animi ad consequuntur explicabo placeat, ipsa aut? Ea mollitia nihil labore quo dolorum nam itaque iusto.
    Eaque tempore adipisci obcaecati possimus. Omnis, hic? Incidunt saepe a ullam ratione ex accusantium, fugit ea inventore eius quibusdam aliquid sapiente odio eum maiores ut in, ipsam sunt ipsum! Commodi.
    Pariatur cupiditate consequuntur, sapiente ipsum rerum magnam modi aperiam blanditiis quos voluptatibus ipsam. Distinctio autem quas esse! Quis cupiditate dolorem veritatis nulla mollitia esse soluta rem iste, molestiae error ipsum!
    Molestiae blanditiis nam assumenda repellendus recusandae dignissimos deleniti, rerum inventore fuga ullam corrupti iste. Temporibus, doloremque neque? Dicta ratione maxime quidem magni magnam tempore deleniti. Hic quis ad voluptas magnam.</p>
</body>
</html>